@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  /* colors */
  --light-color: #e0f2e9;
  --light-brown-color: #ceb5a7;
  --brown-color: #a17c6b;
  --light-green-color: #5b7b7a;
  --green-color: #3c887e;

  /* fonts */
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --large-font-size: .938rem;
  --normal-font-size: .813rem;
  --small-font-size: .75rem;

  /* margins */
  --mb-1: .5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body-font);
  font-size: var(--large-font-size);
  background-color: var(--body-color);
  color: var(--green-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

nav {
  background-color: #d9ed92;
  padding: var(--mb-2);
}

.nav_ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 0;
}

.nav_li a:hover {
  color: var(--brown-color);
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_h {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

h1 {
  font-size: var(--h1-font-size);
}

.grid {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-color: var(--light-color);
}

.card {
  flex-basis: 25%;
  flex-grow: 1;
  text-align: center;
  border-radius: 10px;
  margin: var(--mb-3);
  padding: var(--mb-4);
  background-color: white;
}


.special_button {
  --c: var(--light-green-color);
  color: var(--c);
  font-size: 14px;
  border: 0.5px solid var(--c);
  border-radius: 0.5em;
  width: 6em;
  height: 2em;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.special_button span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.special_button:hover {
  color: black;
}

.special_button:hover span {
  transform: translateY(0) scale(2);
}

.special_button span:nth-child(1) {
  --n: 1;
}

.special_button span:nth-child(2) {
  --n: 2;
}

.special_button span:nth-child(3) {
  --n: 3;
}

.special_button span:nth-child(4) {
  --n: 4;
}

.contact_section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: var(--mb-6) var(--mb-3);
  height: 50vh;
}

.error {
  color: #bb3e03;
  font-size: 10px;
  width: 150px;
}

.contact_form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_form h1 {
  margin-bottom: var(--mb-3);
  color: var(--brown-color)
}

.contact_form h2 {
  color: var(--light-green-color);
  font-size: var(--h2-font-size);
}

.contact_details_form {
  display: flex;
}

.contact_details_form div {
  display: flex;
  flex-direction: column;
  margin: var(--mb-1);
}

.message_form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: var(--mb-2);
}

input,
textarea {
  border: solid 1px var(--brown-color);
  color: var(--brown-color);
  border-radius: 5px;
}


.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.login_form {
  border: solid 1px var(--brown-color);
  padding: var(--mb-6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}

.login_form div {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--mb-1);
}

.login_form_link {
  color: var(--brown-color);
  text-decoration: underline;
}